```gitignore
# Ignore build directories
dist/

# Ignore node modules
node_modules/

# Ignore local development environment settings
.env.local
.env.development
.env.test.local

# Ignore logs
logs
*.log

# MacOS
.DS_Store

# Ignore production server sensitive info
deploy/scripts/*.sh
```